
@using iShop.Web.ViewModel.Common;
@model List<iShop.Web.ViewModel.System.UserViewModel >

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Ho
            </th>
            <th>
                Ten
            </th>
            <th>
                Sdt
            </th>
            <th>
                Ten dang nhap
            </th>
            <th>
                Email
            </th>
            <!--<th>
        Html.DisplayNameFor(model => model.Dob)
    </th>-->
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
               
                <td>
                    @Html.ActionLink("Update", "Update", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    @Html.ActionLink("Ganquyen", "RoleAssign", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
